body {
  margin: 0;
  font-family: Arial, sans-serif;
}

input, select, button {
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  input, button, select {
    font-size: 16px;
    padding: 12px;
  }

  h2 {
    font-size: 20px;
  }
}

