# ===============================
# 🟢 Node.js (backend)
# ===============================
node_modules/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ===============================
# 🔵 React client (frontend)
# ===============================
client/node_modules/
client/build/
client/.cache/
client/.eslintcache
client/.env
client/.env.*.local
client/package-lock.json

# ===============================
# 🟡 Logs / systemowe / tymczasowe
# ===============================
*.log
logs/
.cache/
dist/
coverage/
.DS_Store
Thumbs.db

# ===============================
# 🟣 IDE / edytory
# ===============================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ===============================
# 🔴 Testy i historia REPL
# ===============================
.nyc_output
node_repl_history

server/node_modules/
server/build/
server/.cache/
server/.eslintcache
server/.env
server/.env.*.local
server/package-lock.json